* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-image: url("./background.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 550px;
    width: 800px !important;
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    background: rgba(25, 25, 25, 0.5);
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 20px;
}

header {
    margin-top: 10px;
    background: rgba(95, 95, 95, 0.7);
    width: 95%;
    height: 45px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 28px;
    border-radius: 10px;
    border: 1px solid #fff;
}

form {
    margin-top: 10px;
    background: rgba(95, 95, 95, 0.7);
    width: 95%;
    min-height: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: auto 5px;
}

form>i {
    color: #fff;
}

#input {
    margin-left: 10px;
    background: none;
    border: none;
    width: 90%;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
}

::placeholder {
    color: #fff;
    opacity: 1;
    text-transform: none;
}

#input:focus {
    outline: none;
    border: none;
}

form:active {
    border: 1px solid green;
}

.today {
    margin-top: 10px;
    width: 95%;
    height: 200px;
    background: rgba(95, 95, 95, 0.7);
    border: 1px solid #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.today-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 10px 15px;
    color: #fff;
}

.today-left {
    width: 50%;
}

.today-left>h2 {
    margin-bottom: 40px;
}

.today-right {
    padding-left: 120px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.today-right i {
    font-size: 35px;
}

.today-detail {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    color: #fff;
}

.future {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 95%;
}

.future-day {
    flex-basis: calc(25% - 20px);
    height: 170px;
    background: rgba(95, 95, 95, 0.7);
    border: 1px solid #fff;
    border-radius: 10px;
    box-shadow: 0 0 7px 2px rgba(255, 255, 255, 0.35);
    text-align: center;
    padding: 15px;
    transition: transform 0.2s, border 0.2s;
    cursor: pointer;
    color: #fff;
}

.future-day:hover {
    transform: scale(1.07);
    border: 2px solid green;
    background: rgba(55, 55, 55, 0.8);
    box-shadow: 0 0 6px 2px green;
}

.future-day i {
    font-size: 20px;
}